name: "Database change notifier"

on:
  pull_request:
    branches: [main]
    paths:
      - "**/migrations/**"

permissions:
  contents: read
  pull-requests: write

jobs:
  migration-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v6.0.1 release
        with:
          fetch-depth: 0
          repository: dennisqogita/django-project
          path: canary
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Get changed migration files
        id: changed_files
        run: |
          cd canary
          FILES=$(git diff --name-only \
            ${{ github.event.pull_request.base.sha }} \
            ${{ github.event.pull_request.head.sha }} \
            -- '**/migrations/**' -- ':(exclude)**/__pycache__/**')

          {
            echo "FILES<<EOF"
            echo "$FILES"
            echo "EOF"
          } >> "$GITHUB_ENV"

      - name: Run database change parser
        run: |
          cd canary
          python migration_check.py $FILES

      # - name: Echo migration changes
      #   run: echo $MIGRATION_CHANGES | jq .

      - name: Add GitHub comment with changes
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd #v8 release
        with:
          script: |
            const migrationChanges = JSON.parse(process.env.MIGRATION_CHANGES)

            const isArrayEmpty = (arr) => !Array.isArray(arr) || arr.length === 0;

            const statusText = (status) => {
              switch (status) {
                case -1: return "deleted";
                case 0: return "modified";
                case 1: return "created";
                default: return "unknown";
              }
            };

            let body = "## :warning: Migration Changes Detected\n\n";
            body += "The following models were affected in this PR.\n\n"

            for (const [model, changes] of Object.entries(migrationChanges)) {
              body += `**${model}** (${statusText(changes.status)})`;

              if (changes.renamed_from) body += ` <- renamed from \`${changes.renamed_from}\``

              body += "\n";
              body += `- Added: ${!isArrayEmpty(changes.added)} ? "None" : changes.added.join(", ")}\n`;
              body += `- Removed: ${!isArrayEmpty(changes.removed)} ? "None" : changed.removed.join(", ")}\n`;
              body += "\n";
            }

            await github.rest.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              body: body
            })
