name: "Database change notifier"

on:
  pull_request:
    branches: [main]
    paths:
      - "**/migrations/**"

jobs:
  migration-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v6.0.1 release
        with:
          fetch-depth: 0
          repository: dennisqogita/django-project
          path: canary
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Get changed migration files
        id: changed_files
        run: |
          cd canary
          FILES=$(git diff --name-only \
            ${{ github.event.pull_request.base.sha }} \
            ${{ github.event.pull_request.head.sha }} \
            -- '**/migrations/**' -- ':(exclude)**/__pycache__/**')

          {
            echo "FILES<<EOF"
            echo "$FILES"
            echo "EOF"
          } >> "$GITHUB_ENV"

      - name: Run database change parser
        run: |
          env | grep FILES
          python canary/migration_check.py $FILES
